<html>

<head>
    <title>발표자 Login - Node를 Araboja</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <link href="/css/presenter.css" rel="stylesheet" />
</head>
<body>
    <div id="wrap">
        <div id="frm_login">
            <input type="tel" id="frm_login_key" />
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/presenter_login.js"></script>
</body>

</html>