<html>

<head>
    <title>발표자 - Node를 Araboja</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/solid.css" integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/presenter.css" />
</head>
<body>
    <ul id="chatlog">

    </ul>
    <div id="frm_controller">
        <input type="button" value="◀" id="frm_controller_prev" />
        <input type="button" value="▶" id="frm_controller_next" />
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/presenter_dashboard.js"></script>
</body>

</html>